## <font color='blue'>Table of contents</font>

1. [Lab Inferential statistics Ttest & Pvalue](#1.-Lab-Inferential-statistics-Ttest-&-Pvalue)

2. [Lab Inferential statistics ANOVA](#2.-Lab-Inferential-statistics-ANOVA)

# 1. Lab Inferential statistics  Ttest & Pvalue

# Loading libraries

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
# import warnings
# warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
import math
import scipy.stats as st

# Load data

In [2]:
machine = pd.read_csv("machine.txt", encoding="utf_16_le", sep="\t")
anova = pd.read_excel('anova_lab_data.xlsx')
pokemon = pd.read_csv('pokemon.csv')
student_gpa = open('student_gpa.txt')

## Instructions

## **1.-** **One-tailed t-test** 

In a packing plant, a machine packs cartons with jars. 

It is supposed that a new machine will pack faster on average than the machine currently used. 

To test that hypothesis, the times each machine takes to pack ten cartons are recorded. 

The results are in seconds in the tables in the file ***files_for_lab/machine.txt***. 

Assume that there is sufficient evidence to conduct the t-test, 

does the data provide sufficient evidence to show if one machine is better than the other?

In [3]:
machine = pd.read_csv("machine.txt", encoding="utf_16_le", sep="\t")
machine

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [4]:
machine = machine.rename(columns=lambda x: x.lower().replace(' ', '_'))

In [5]:
machine.head(20)

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [6]:
#Another way

st.ttest_ind(machine['new_machine'], machine['old_machine'], equal_var=False)

TtestResult(statistic=-3.3972307061176026, pvalue=0.00324224946631798, df=17.847298506720346)

- Negative statistic means 
The negative t-statistic suggests that the mean of 'new_machine' is lower than the mean of 'old_machine.'

- P-value is low.
P-value of 0.0032 is small, suggesting that there is strong evidence to reject the null hypothesis --> H0 is rejected

There is a statistically difference between the 'new_machine' and 'old_machine' date, the two machines are not the same.

- Df.

___

## **2.- Matched Pairs Test** 

In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). 

Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. 

Our hypothesis is that the defense and attack scores are equal. 

Compare the two columns to see if there is a statistically significant difference between them and comment on your result.

In [7]:
pokemon.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False

In [8]:
# whether there is a significant difference between each Pokemon's defense and attack scores.
score = pokemon[["Attack", "Defense"]]
score.head()

   Attack  Defense
0      49       49
1      62       63
2      82       83
3     100      123
4      52       43

In [9]:
st.ttest_rel(score['Attack'], score['Defense'])

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

- Statistic
there is a statistically significant difference between these two variables

- P-value is almost 0. So we reject H0
A smaller p-value indicates stronger evidence against the null hypothesi, there's no difference between 'Attack' and 'Defense'. 

Null. H0: The mean 'Attack' score is equal to the mean 'Defense' score.

# 2. Lab Inferential statistics ANOVA

## **Part 1**

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. 

After the next lesson, we will ask you to solve this problem using Python. 

Here are the steps that you would need to work on: 
- Null hypothesis 
- Alternate hypothesis 
- Level of significance 
- Test statistic 
- P-value 
- F table

**Context**
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. 

You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data ***anova_lab_data.xlsx*** file in the ***files_for_lab*** folder

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of the model, error terms, and total DoF

Data were collected randomly and provided to you in the table as shown: link to the image - Data

## **Part 2**

In this section, use Python to conduct ANOVA.

- What conclusions can you draw from the experiment and why?

In [10]:
anova1 = pd.read_excel('anova_lab_data.xlsx')
anova1

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [11]:
anova1.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [12]:
#Eliminate whitespaces
anova1.columns = anova.columns.str.replace(' ', '')

In [13]:
#New column names
anova1.columns

Index(['Power', 'EtchingRate'], dtype='object')

In [14]:
# Perform express ANOVA

from scipy.stats import f_oneway

anova_result = st.f_oneway(anova1['EtchingRate'][anova1['Power'] == '160 W'],
                              anova1['EtchingRate'][anova1['Power'] == '180 W'],
                              anova1['EtchingRate'][anova1['Power'] == '200 W'])

anova_result

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

_____

**ANOVA but Step by step**

In [15]:
anova1['Power'].value_counts()
#3

Power
160 W    5
180 W    5
200 W    5
Name: count, dtype: int64

In [16]:
group_anova1 = anova1.groupby('Power')['EtchingRate'].agg(Power_mean='mean',Samples='size').reset_index()
group_anova1

   Power  Power_mean  Samples
0  160 W       5.792        5
1  180 W       6.238        5
2  200 W       8.318        5

Let's start computing the needed terms to compute  𝑆̂2𝑡:

In [17]:
# In our case, the groups are the cities, and the "y" is the "Rate"

S2t = 0
for power in anova1['Power'].unique():
    ng = len(anova1[anova1['Power'] == power])
    S2t  += ng * ( ( anova1[anova1['Power'] == power]['EtchingRate'].mean() - anova1['EtchingRate'].mean() ) ** 2)
S2t /= ( anova1['Power'].nunique() - 1 ) # Number of  K = groups/cities

print("The value of S2t is {:.2f}".format(S2t))

The value of S2t is 9.09

Now let's go now with  𝑆̂2𝐸:

In [20]:
S2E = 0
for power in anova1['Power'].unique():
    for rate in anova1[anova1['Power'] == power]['EtchingRate']:
        S2E += ( rate - anova1[anova1['Power'] == power]['EtchingRate'].mean() ) ** 2
S2E /= ( len(anova1) - anova1['Power'].nunique() )

print()
print("The value of S2E is {:.2f}".format(S2E))

The value of S2E is 0.25

In [21]:
S2E2 = 0
for power in anova1['Power'].unique():
    ng = len(anova1[anova1['Power'] == power])
    S2E2 += ( ng - 1 ) * np.var(anova1[anova1['Power'] == power]['EtchingRate'],ddof=1)
S2E2 /= ( len(anova1) - anova1['Power'].nunique() )

print()
print("The value of S2E is {:.2f}".format(S2E2))

The value of S2E is 0.25

**Finally, we can compute F:**

In [22]:
#Between the ratio of S2t / S2E
F = S2t / S2E
print("The value of F is {:.2f}".format(F))

The value of F is 36.88

In [23]:
anova1['Power'].nunique()

3

In [24]:
#What is the critical value?

d1 = anova1['Power'].nunique() - 1
d2 = len(anova1) - anova1['Power'].nunique()

print("Number of degrees of freedom d1: ",d1)
print("Number of degrees of freedom d2: ",d2)

Number of degrees of freedom d1:  2
Number of degrees of freedom d2:  12

**The probability to get any F value lower or equal to out F can be obtained with the CDF:**

In [25]:
st.f.cdf(F,dfn=d1, dfd=d2)

0.9999924934157276

In [26]:
#The opposite is given by

#Area to the right of my stadistic

1 - st.f.cdf(F,dfn=d1, dfd=d2)

7.5065842723986975e-06

In [27]:
Fc = st.f.ppf(1-0.05,dfn=d1, dfd=d2)

print("The critical value which corresponds to an area of 0.05 is: {:.2f}".format(Fc))

The critical value which corresponds to an area of 0.05 is: 3.89

_____

____

### Calculations/tests outside the lab

In [28]:
#Create groups for each power
anova160 = np.array([5.43,5.71,6.22,6.01,5.59])
anova180 = np.array([6.24,6.71,5.98,5.66,6.60])
anova200 = np.array([8.79,9.20,7.90,8.15,7.55])

In [29]:
# Create a dataframe
list = {'anova160': anova160, 'anova180': anova180, 'anova200': anova200}
anova = pd.DataFrame(list)
anova.columns  = ['160W', '180W', '200W']
anova.head()

   160W  180W  200W
0  5.43  6.24  8.79
1  5.71  6.71  9.20
2  6.22  5.98  7.90
3  6.01  5.66  8.15
4  5.59  6.60  7.55